<div class="container py-5">

  <div class="d-flex align-items-center justify-content-between mb-3" >
    <h3 class="mb-0">My Lists</h3>
    <%= link_to 'create a movie list', new_list_path(@list), class:"btn btn-flat" %>
  </div>

  <div class="row">
    <%  @lists.each do |list| %>
      <div class="col 3 p-3">
        <%= link_to list_path(list), class:"text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('list_background.jpg') %>)">
            <%= list.name %>

          </div>

        <% end %>
      </div>
    <% end %>


  </div>
</div>
