.movie-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
}

.star-yellow {
  color: #FFDF00;
}

.bg-white {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
  width: 400px;
}
