

<div class="col 12 p-3">
  <div class="bg white rounded p-3">
    <h1>Add your Reviews</h1>
    <%= simple_form_for @list @review do |f| %>
      <%= f.input :comment, placeholder: "Add your review here..." %>
      <%= f.input :rating, as: :select, collection: (1..5), required: true, label: false, input_html: { data: { controller: "star-rating" } } %>
      <%= f.submit "Create Review" %>
    <% end %>
  </div>
</div>
